QLineEdit {
    background-color: rgb(255, 255, 255);
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
    color: black;
}

QWidget {
    background-color: rgb(11, 8, 24);
    height: 100%;
}